/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common styles */
body{
 font-family: 'Poppins', sans-serif;
 margin: 0%;
}
main{
 display: flex;
 flex-direction: column;
 
 align-items: center;
}
/* ----------------------
      header section
 ------------------------ */
.opening-section{
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #2D25A0; 
}
.opening-section:hover .football-image{
transform: scale(1.2);
transition: transform 2s linear;
}
.opening-section:hover .heading-link{
 transform: scale(1.2);
transition: transform 2s linear;
}
.heading-link{
 display: flex;
 flex-direction: column;
padding-left: 156px;
}
.heading{
 font-size: 64px;
 font-family: 'Poppins', sans-serif;
 color: #FFFFFF; 
width: 485px;
height: 230px;
text-shadow: 2px 2px grey;

}

.link{
 display: flex;
 justify-content: space-around;
 text-decoration: none;
 color: white;
 font-size: 20px;
 width: 168px;
 height: 44px;
align-items: center;
background-color: #E02C6D;

}
.fa-arrow-right{
 padding-right: 20px;
 display: none;
}
.link:hover .fa-arrow-right{
 display: block;
}
.watch-link a{
 background-color: #E02C6D;
}
.football-image img{
 width: 556.01px;
height: 438px;
left: 1299.01px;
top: 153px;
padding: 135px 140px 86px;

}
/* --------------------
     players style 
 ----------------------*/
.container{
 margin-bottom: 70px;
}
.players{
 display: grid;
grid-gap: 30px;
 grid-template-columns: repeat(3, 1fr);
 margin-top: 60px;
}
.player{
 box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 width: 300px;
height: 456px;
padding: 15px 15px 15px 15px;
align-items: center;
}
.player img{
 width: 300px;
height: 256px;
}
.player-discription{
 font-size: 16px;
 
 width: 300px;
color: #6C6C6C;
font-weight: 400;
}
/* youtube videos  */
hr{
 border: 1px solid rgb(201, 193, 193);
}
.youtube{
 
 margin-top: 60px;
}
.heading-two{
 font-size: 64px;
 font-family: 'Poppins', sans-serif;
 color: #FFFFFF; 

text-shadow: 2px 2px grey;
color: #2D25A0;
}
/* logo and icons */
.logo{
 margin-top: 60px;
}
.football-logo img{
 width: 483.87px;
height: 110px;
}
.social-logo{
 padding-left: 160px;
}
.icons{
 width: 32px;
 height: 32px;
 padding-right: 14px;
}
.copyright{
 padding-left: 135px;
}
/* media queries */
/* mobile  */
@media only screen and (max-width:688px) {
 .opening-section, .container-two, .logo{
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
 }
 .heading-link{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
  flex-wrap: wrap;
  margin-left: 0%;
 }
  .heading{
font-size: 40px;
  }
 
 .football-image img{
  padding-left: 0;
  width: 90%;
  height: 350px;
 }
 .players{
  grid-template-columns: repeat(1, 1fr);
 }
 
}