/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common styles */
body{
 font-family: 'Poppins', sans-serif;
}
main{
 display: flex;
 justify-content: center;
}
/* ----------------------
      header section
 ------------------------ */
.opening-section{
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #2D25A0; 
}
.opening-section:hover .football-image{
transform: scale(1.2);
transition: transform 2s linear;
}
.opening-section:hover .heading-link{
 transform: scale(1.2);
transition: transform 2s linear;
}
.heading-link{
 display: flex;
 flex-direction: column;
padding-left: 156px;
}
.heading{
 font-size: 64px;
 font-family: 'Poppins', sans-serif;
 color: #FFFFFF; 
width: 485px;
height: 230px;
text-shadow: 2px 2px grey;

}

.link{
 display: flex;
 justify-content: space-around;
 text-decoration: none;
 color: white;
 font-size: 20px;
 width: 168px;
 height: 44px;
align-items: center;
background-color: #E02C6D;

}
.fa-arrow-right{
 padding-right: 20px;
 display: none;
}
.link:hover .fa-arrow-right{
 display: block;
}
.watch-link a{
 background-color: #E02C6D;
}
.football-image img{
 width: 556.01px;
height: 438px;
left: 1299.01px;
top: 153px;
padding: 135px 140px 86px;

}
/* --------------------
     players style 
 ----------------------*/

.players{
 display: grid;
grid-gap: 30px;
 grid-template-columns: repeat(3, 1fr);
 margin-top: 60px;
}
.player{
 box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 width: 300px;
height: 456px;
padding: 15px 15px 15px 15px;
align-items: center;
}
.player img{
 width: 300px;
height: 256px;
}
.player-discription{
 font-size: 16px;
 
 width: 300px;
color: #6C6C6C;
font-weight: 400;
}